In [1]:
import pandas as pd

In [13]:
data = pd.read_csv('data_math1.csv')
data

,PERIODO_MATRICULADO,PERIODO_INGRESO,APELLIDOSNOMBRES,SEMESTRE_ACTUAL,ESTRATO,PROMEDIOCARRERA,PROMEDIOSEMESTRE,ESTADO_ACTUAL_ESTUDIANTE,CALIFICACION,PERIODO_MATRICULADO_NUM,PERIODO_INGRESO_NUM,tiempo
0,2019.2,2012.1,ACOSTA ORTEGA ANDRES EDUARDO,10,1,"3,709","3,96",GRADUADO,NaN,2019.5,2012.0,7.5
1,2019.1,2004.2,ACOSTA SANCHEZ JULIAN ALONSO,10,3,"2,542",0,ACTIVO,REPITENTE,2019.0,2004.5,14.5
2,2019.2,2004.2,ACOSTA SANCHEZ JULIAN ALONSO,10,3,"2,542",0,ACTIVO,REPITENTE,2019.5,2004.5,15.0
3,2020.1,2004.2,ACOSTA SANCHEZ JULIAN ALONSO,10,3,"2,542",0,ACTIVO,REPITENTE,2020.0,2004.5,15.5
4,2021.1,2004.2,ACOSTA SANCHEZ JULIAN ALONSO,10,3,"2,542",0,ACTIVO,REPITENTE,2021.0,2004.5,16.5
...,...,...,...,...,...,...,...,...,...,...,...,...
1903,2021.2,2021.2,ZUÑIGA CORTEZ ROBINSON ALEXANDER,2,1,0,"0,23",INACTIVO,REPITENTE,2021.5,2021.5,0.0
1904,2022.1,2021.2,ZUÑIGA CORTEZ ROBINSON ALEXANDER,2,1,0,"0,23",INACTIVO,REPITENTE,2022.0,2021.5,0.5
1905,2022.2,2022.2,ZUÑIGA SOTELO KAREN ESTEFANY,4,1,"3,388","3,4",ACTIVO,REPITENTE,2022.5,2022.5,0.0
1906,2023.1,2022.2,ZUÑIGA SOTELO KAREN ESTEFANY,4,1,"3,388","3,4",ACTIVO,REPITENTE,2023.0,2022.5,0.5
1907,2023.2,2022.2,ZUÑIGA SOTELO KAREN ESTEFANY,4,1,"3,388","3,4",ACTIVO,REPITENTE,2023.5,2022.5,1.0

In [10]:
import pandas as pd

# Cargar los datos en un DataFrame
# Aquí reemplaza 'base_datos.csv' con el nombre de tu archivo CSV
df = pd.read_csv('data_math4.csv')

# Función para ajustar los valores de la columna PROMEDIOCARRERA al rango 0-5
def ajustar_promedio(promedio):
    # Si el valor está entre 0 y 5, lo dejamos tal cual
    if 0 <= promedio <= 5:
        return round(promedio, 2)
    # Si el valor es mayor a 1000, lo dividimos entre 1000 para ajustarlo
    elif promedio >= 1000:
        return round(promedio / 1000, 3)
    # Si el valor está entre 100 y 1000, lo dividimos entre 100
    elif promedio >= 100:
        return round(promedio / 100, 3)
    # Si el valor es mayor a 10, lo dividimos entre 10
    elif promedio >= 10:
        return round(promedio / 10, 3)
    return promedio

# Aplicar la función a la columna 'PROMEDIOCARRERA'
df['PROMEDIOSEMESTRE'] = df['PROMEDIOSEMESTRE'].apply(ajustar_promedio)

# Guardar la base de datos corregida en un nuevo archivo CSV
# Aquí reemplaza 'base_datos_corregida.csv' con el nombre que deseas para el nuevo archivo
df.to_csv('base_datos_corregida.csv', index=False)

# Mostrar el DataFrame resultante
print(df)

     PERIODO_INGRESO  PERIODO_MATRICULADO  TIEMPO  \
0             2004.5               2020.0    15.5
1             2009.5               2019.0     9.5
2             2016.5               2020.0     3.5
3             2018.5               2019.0     0.5
4             2020.0               2020.0     0.0
..               ...                  ...     ...
194           2021.0               2021.0     0.0
195           2017.5               2020.0     2.5
196           2017.0               2019.5     2.5
197           2015.5               2020.0     4.5
198           2014.0               2020.0     6.0

                    APELLIDOSNOMBRES  GENERO  SEMESTRE_ACTUAL  ESTRATO  \
0       ACOSTA SANCHEZ JULIAN ALONSO       1               10        3
1                  AGREDO JOSE DAVID       1                6        1
2       AGUILERA BOLAÑOS JOSE EFRAIN       1                9        2
3                ALVAREZ PINZA EDUAR       1                3        2
4       ANACONA CADENA EVELIN DAYANA       0                2        1
..                               ...     ...              ...      ...
194   VERGARA TRUJILLO JHON ANDERSON       1                1        1
195  YALANDA TUNUBALA CARLOS ALBERTO       1                5        1
196      YALANDA TUNUBALA LUIS MARIO       1                7        1
197  ZAMBRANO MENDEZ BETTY ALEXANDRA       0               10        2
198   ZAMBRANO ORDOÑEZ PAULA NATHALY       0               10        1

     PROMEDIOCARRERA  PROMEDIOSEMESTRE       ESTADO_ACTUAL_ESTUDIANTE
0              2.542             0.000                         ACTIVO
1              2.004             0.000  INACTIVO MATRICULA FINANCIERA
2              3.609             3.030                         ACTIVO
3              0.000             3.650                       INACTIVO
4              3.478             2.970         INACTIVO DOS PROGRAMAS
..               ...               ...                            ...
194            2.860             0.070  INACTIVO MATRICULA FINANCIERA
195            3.306             3.050                         ACTIVO
196            3.288             3.767                         ACTIVO
197            4.196             4.700                         ACTIVO
198            3.738             0.000                       GRADUADO

[199 rows x 10 columns]

In [12]:
import pandas as pd

# Cargar los datos en un DataFrame
# Reemplaza 'base_datos.csv' con el nombre de tu archivo CSV
df = pd.read_csv('data_math5.csv')

# Función para verificar si un valor está dentro del rango de 0 a 5
def verificar_rango(promedio):
    if 0 <= promedio <= 5:
        return True
    else:
        return False

# Recorremos la columna 'PROMEDIOCARRERA' y verificamos si los valores están en el rango
out_of_range = []
for idx, value in enumerate(df['PROMEDIOSEMESTRE']):
    if not verificar_rango(value):
        out_of_range.append(idx)

# Si encontramos valores fuera de rango, los mostramos
if out_of_range:
    print(f"Los siguientes índices tienen valores fuera del rango 0-5:")
    for idx in out_of_range:
        print(f"Índice: {idx}, Valor: {df['PROMEDIOSEMESTRE'][idx]}")
else:
    print("Todos los valores están dentro del rango 0-5.")

Todos los valores están dentro del rango 0-5.

In [17]:
import pandas as pd

# Cargar los datos en un DataFrame
# Reemplaza 'base_datos.csv' con el nombre de tu archivo CSV
df = pd.read_csv('data_math5.csv')

# Función para etiquetar el estado actual del estudiante
def etiquetar_estado(estado):
    estado = str(estado).strip().upper()  # Convertir a cadena, eliminar espacios extra y convertir a mayúsculas
    if 'ACTIVO' in estado:
        return 0  # Estudiante activo
    elif 'INACTIVO' in estado or 'INACTIVO MATRICULA FINANCIERA' in estado:
        return 1  # Estudiante inactivo, incluyendo los casos "INACTIVO DOS PROGRAMAS", "INACTIVO MATRICULA FINANCIERA"
    elif 'GRADUADO' in estado:
        return 0  # Estudiante graduado
    else:
        return None  # En caso de que haya un estado desconocido

# Crear la nueva columna 'ETIQUETA_ESTADO' con las etiquetas correspondientes
df['ETIQUETA_ESTADO'] = df['ESTADO_ACTUAL_ESTUDIANTE'].apply(etiquetar_estado)

# Guardar el DataFrame modificado en un nuevo archivo CSV (opcional)
# Reemplaza 'base_datos_etiquetada.csv' con el nombre del archivo de salida
df.to_csv('base_datos_etiquetada.csv', index=False)

# Mostrar las primeras filas del DataFrame con la nueva columna 'ETIQUETA_ESTADO'
print(df[['ESTADO_ACTUAL_ESTUDIANTE', 'ETIQUETA_ESTADO']].head())

        ESTADO_ACTUAL_ESTUDIANTE  ETIQUETA_ESTADO
0                         ACTIVO                0
1  INACTIVO MATRICULA FINANCIERA                0
2                         ACTIVO                0
3                       INACTIVO                0
4         INACTIVO DOS PROGRAMAS                0

In [19]:
df = pd.read_csv('data_math5.csv')
A = df['ESTADO_ACTUAL_ESTUDIANTE']

In [21]:

def etiquetar_estado(estado):
    estado = str(estado).strip().upper()  # Convertir a cadena, eliminar espacios extra y convertir a mayúsculas
    if 'ACTIVO' in estado:
        return 0  # Estudiante activo
    elif 'INACTIVO' in estado or 'INACTIVO MATRICULA FINANCIERA' in estado:
        return 1  # Estudiante inactivo, incluyendo los casos "INACTIVO DOS PROGRAMAS", "INACTIVO MATRICULA FINANCIERA"
    elif 'GRADUADO' in estado:
        return 0  # Estudiante graduado
    else:
        return None  # En caso de que haya un estado desconocido

In [26]:
B

0

In [29]:
import pandas as pd

# Cargar los datos en un DataFrame
# Aquí reemplaza 'base_datos.csv' con el nombre de tu archivo CSV
df = pd.read_csv('data_math6.csv')

# Función para ajustar los valores de la columna PROMEDIOCARRERA al rango 0-5
def ajustar_promedio(promedio):
    # Si el valor está entre 0 y 5, lo dejamos tal cual
    if 0 <= promedio <= 5:
        return round(promedio, 2)
    # Si el valor es mayor a 1000, lo dividimos entre 1000 para ajustarlo
    elif promedio >= 1000:
        return round(promedio / 1000, 3)
    # Si el valor está entre 100 y 1000, lo dividimos entre 100
    elif promedio >= 100:
        return round(promedio / 100, 3)
    # Si el valor es mayor a 10, lo dividimos entre 10
    elif promedio >= 10:
        return round(promedio / 10, 3)
    return promedio

# Aplicar la función a la columna 'PROMEDIOCARRERA'
df['PROMEDIOSEMESTRE'] = df['PROMEDIOSEMESTRE'].apply(ajustar_promedio)

# Guardar la base de datos corregida en un nuevo archivo CSV
# Aquí reemplaza 'base_datos_corregida.csv' con el nombre que deseas para el nuevo archivo
df.to_csv('data_math7.csv', index=False)

# Mostrar el DataFrame resultante
print(df)

     PERIODO_INGRESO  PERIODO_MATRICULADO  TIEMPO  \
0             2004.5               2020.0    15.5
1             2009.5               2019.0     9.5
2             2016.5               2020.0     3.5
3             2018.5               2019.0     0.5
4             2020.0               2020.0     0.0
..               ...                  ...     ...
194           2021.0               2021.0     0.0
195           2017.5               2020.0     2.5
196           2017.0               2019.5     2.5
197           2015.5               2020.0     4.5
198           2014.0               2020.0     6.0

                    APELLIDOSNOMBRES  GENERO  SEMESTRE_ACTUAL  ESTRATO  \
0       ACOSTA SANCHEZ JULIAN ALONSO       1               10        3
1                  AGREDO JOSE DAVID       1                6        1
2       AGUILERA BOLAÑOS JOSE EFRAIN       1                9        2
3                ALVAREZ PINZA EDUAR       1                3        2
4       ANACONA CADENA EVELIN DAYANA       0                2        1
..                               ...     ...              ...      ...
194   VERGARA TRUJILLO JHON ANDERSON       1                1        1
195  YALANDA TUNUBALA CARLOS ALBERTO       1                5        1
196      YALANDA TUNUBALA LUIS MARIO       1                7        1
197  ZAMBRANO MENDEZ BETTY ALEXANDRA       0               10        2
198   ZAMBRANO ORDOÑEZ PAULA NATHALY       0               10        1

     PROMEDIOCARRERA  PROMEDIOSEMESTRE       ESTADO_ACTUAL_ESTUDIANTE  \
0              2.542             0.000                         ACTIVO
1              2.004             0.000  INACTIVO MATRICULA FINANCIERA
2              3.609             3.030                         ACTIVO
3              0.000             3.650                       INACTIVO
4              3.478             2.970         INACTIVO DOS PROGRAMAS
..               ...               ...                            ...
194            2.860             0.070  INACTIVO MATRICULA FINANCIERA
195            3.306             3.050                         ACTIVO
196            3.288             3.767                         ACTIVO
197            4.196             4.700                         ACTIVO
198            3.738             0.000                       GRADUADO

     ETIQUETA
0           0
1           1
2           0
3           1
4           1
..        ...
194         1
195         0
196         0
197         0
198         0

[199 rows x 11 columns]

In [31]:
import pandas as pd

# Cargar los datos en un DataFrame
# Reemplaza 'base_datos.csv' con el nombre de tu archivo CSV
df = pd.read_csv('data_math7.csv')

# Función para verificar si un valor está dentro del rango de 0 a 5
def verificar_rango(promedio):
    if 0 <= promedio <= 5:
        return True
    else:
        return False

# Recorremos la columna 'PROMEDIOCARRERA' y verificamos si los valores están en el rango
out_of_range = []
for idx, value in enumerate(df['PROMEDIOSEMESTRE']):
    if not verificar_rango(value):
        out_of_range.append(idx)

# Si encontramos valores fuera de rango, los mostramos
if out_of_r/Desktop/inference project/
ange:
    print(f"Los siguientes índices tienen valores fuera del rango 0-5:")
    for idx in out_of_range:
        print(f"Índice: {idx}, Valor: {df['PROMEDIOSEMESTRE'][idx]}")
else:
    print("Todos los valores están dentro del rango 0-5.")

Todos los valores están dentro del rango 0-5.

In [33]:
df = pd.read_csv("data_math7.csv")

# Especifica las columnas a eliminar
columnas_a_borrar = ['APELLIDOSNOMBRES', 'ESTADO_ACTUAL_ESTUDIANTE']

# Eliminar las columnas
df_final = df.drop(columns=columnas_a_borrar)

# Guardar la nueva base de datos sin las columnas eliminadas
df_final.to_csv("datos_estudiantes_final.csv", index=False)

# analisis kaplan

In [2]:
datakm = pd.read_csv('data_fin_KM.csv')
datakm.head()

,PERIODO_INGRESO,PERIODO_MATRICULADO,TIEMPO,GENERO,SEMESTRE_ACTUAL,ESTRATO,PROMEDIOCARRERA,PROMEDIOSEMESTRE,ETIQUETA
0,2004.5,2020.0,15.5,1,10,3,2.542,0.00,0
1,2009.5,2019.0,9.5,1,6,1,2.004,0.00,1
2,2016.5,2020.0,3.5,1,9,2,3.609,3.03,0
3,2018.5,2019.0,0.5,1,3,2,0.000,3.65,1
4,2020.0,2020.0,0.0,0,2,1,3.478,2.97,1

In [4]:
import pandas as pd
from lifelines import KaplanMeierFitter
import matplotlib.pyplot as plt

# Cargar datos (asegúrate de usar el nombre real de tu archivo)
df = pd.read_csv("data_fin_KM.csv")

# Variables clave
durations = df["TIEMPO"]  # Tiempo de observación
event_observed = df["ETIQUETA"]  # 1 si desertó, 0 si no

# Crear el objeto Kaplan-Meier
kmf = KaplanMeierFitter()

# Ajustar el modelo
kmf.fit(durations, event_observed, label="Supervivencia general")

# Graficar la curva de supervivencia
kmf.plot_survival_function()
plt.title("Curva de Supervivencia - Kaplan-Meier")
plt.xlabel("Tiempo (semestres)")
plt.ylabel("Probabilidad de supervivencia")
plt.grid(True)
plt.show()

ModuleNotFoundError: No module named 'lifelines'